.work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    background: #FFFFFF;
}

h1{
    font-size: 2.5rem;
    color: var(--title);
}